<%= render :partial => "layouts/topPanel2" %>
<div id="bodyPanel">
  <h2>Rails</h2>

  <p class="dotline"><%= image_tag "blank.gif" %> </p>
  <p class="capstext">
    Ruby on Rails...
  </p>
  <p class="dotline"><%= image_tag "blank.gif" %></p>
  <p>We build all our websites using Ruby on rails. </p>
</div>