<div id="topPanel2">
      <%= render :partial => "layouts/topnav" %>
      <div>
          <a href="/"><img src="/assets/logo2.gif"  title="Nothing Up My Sleeve Web Design" alt="Nothing Up My Sleeve Web Design"  /></a>
      </div>
      <h2 style="padding-left:110px;">Nothing Up My Sleeve</h2>
      <h2 style="padding-left:110px;color:#aeaeae;">Web Design</h2>
</div>